@model List<Cities>
@{
    ViewData["Title"] = "Home Basic Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Index Page</h1>
</div>
<div class="text-center">
	This is the index page. From here you can navigate the different pages from the navigation bar above.<br>
	<b>This page is about getting and displaying data from a database. Hope you enjoy ! An example follows below.</b><br><br>
</div>
<table align="center">
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Population</td>
		<td>CountryCode</td>
	</tr>	
	<tr>
		<td>0001</td>
		<td>Where City</td>
		<td>315400</td>
		<td>WC</td>			
	</tr>
	<tr>
		<td>0002</td>
		<td>Some City</td>
		<td>27463</td>
		<td>SC</td>
	</tr>
</table>


